<% provide(:title, 'About') %>
<h1>About Application</h1>
	<h5>GPA Projections App is an application that allows you to make projections about your GPA.<h5>
	<h7>You can project:</h7>
	<ul>
		<li>what GPA you need this semester to have a target cumulative or major GPA.</li>
		<li>what is your predicted cumulative GPA or major cumulative GPA based on grades you expect to have this semester</li>
	<ul/>

	
