<div class="center hero-unit"> 
		<h1>GPA Projections</h1>
		<h2>
			This is the home page for the gpa calculator.
		</h2>
		<%= link_to "Sign up now!", new_student_path, class: "btn btn-large btn-primary" %>
</div>
	