<form>
<br>Desired gpa: <input type="text" name="desired gpa"></br>
<br>Number of credits taken this semester: <input type="text" name="number of credits taken this semester"></br>
<input type="submit" value="Submit">
</form> 

